# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# binary output
mf2b
tests/testregex
tests/testregex2
tests/unit/action
tests/unit/config
tests/unit/logging
tests/unit/matchlist
tests/unit/substr
tests/unit/wordsplit

# temporary files
*.tar.gz
